.directions__wrap {
	display: flex;
	justify-content: space-between;
	margin-bottom: rem(30px);

	@include phones {
		flex-direction: column;
	}
}

.directions__text {
	max-width: rem(770px);
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
	color: rgba(0, 0, 0, 0.8);

	& p {
		margin-bottom: rem(30px);
	}

	@include desktop {
		max-width: rem(500px);
	}

	@include tablets {
		max-width: rem(430px);
	}

	@include phones {
		max-width: 100%;
	}
}

.directions__slider-wrap {
	width: 100%;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.directions__slider {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include desktop {
		justify-content: center;
	}
}

.direction-slider__arrow {
	width: rem(100px);
	height: rem(100px);
	position: absolute;

	@include tablets {
		width: rem(70px);
		height: rem(70px);
	}

	@include phones {
		display: none;
	}

	&_right {
		left: -100px;

		@include tablets {
			left: -65px;
		}
	}

	&_left {
		right: -100px;

		@include tablets {
			right: -65px;
		}
	}
}

.directions-slider__list {
	height: 100%;
	display: flex;
	position: relative;
	transition: all .5s ease;
	right: 0;

	&-wrapper {
		width: 100%;
		max-height: rem(560px);
		overflow: hidden;
	}

	@include desktop-for-slider {
		width: calc(100vw - 200px);
	}

	@include tablets {
		width: calc(100vw - 150px);
	}

	@include phones {
		width: 100%;
	}
}

.directions-slider__item {
	max-width: 100%;
	flex-shrink: 0;
}