.escort__parameters {
	position: relative;
	top: rem(-90px);

	@include phones {
		top: rem(-60px);
	}
}

.escort__content {
	padding: rem(50px) rem(70px);
	position: relative;

	@include tablets {
		padding: rem(50px) rem(50px);
	}
}

.escort__info {
	max-width: 54%;

	@include phones {
		max-width: 100%;
	}
}

.escort__title {
	width: 100%;
	font-family: 'Commissioner', sans-serif;
	font-weight: normal;
	font-size: rem(28px);
	line-height: rem(40px);
	letter-spacing: 0.03em;
	color: rgba(0, 0, 0, 0.9);
	margin-bottom: rem(30px);
}

.escort__text {
	width: 86%;
	font-weight: 300;
	font-size: rem(15px);
	line-height: rem(25px);
	color: rgba($color: #000, $alpha: .8);

	& p {
		margin-bottom: rem(35px);

		&:last-child {
			margin-bottom: 0;
		}
	}

	@include phones {
		width: 100%;
	}
}

.escort__photo {
	width: 40%;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;

	@include phones {
		display: none;
	}
}