.hero-slider__list {
	height: 100%;
	position: relative;
	display: flex;
	transition: right .5s;
	right: 0;
	margin: 0;
	padding: 0;

	&-wrapper {
		width: 100%;
		height: rem(620px);
		overflow: hidden;
	}
}

.hero-slider__item {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.hero-slider__photo-img {
	@include desktop {
		object-position: 70%;
	}
}

.hero-slider__container {
	position: absolute;
}

.hero-slider__title {
	width: rem(500px);
	margin-bottom: rem(20px);

	@include phones {
		width: 100%;
	}
}

.hero-slider__subtitle {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: rem(15px);
	line-height: rem(25px);
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: rem(50px);
}

.hero-slider__btn {
	margin-bottom: rem(111px);

	@include tablets {
		margin-bottom: rem(50px);
	}
}

.hero-slider__controls {
	padding-left: rem(25px);
}

.hero-slider__arrow {
	width: rem(60px);
	height: rem(60px);
}