.nav {
	display: flex;
	align-items: center;

	@include tablets {
		flex-direction: column;
	}
}

.nav__menu {
	flex-wrap: wrap;
	font-family: 'Commissioner', sans-serif;
	font-weight: 500;
	font-size: rem(14px);
	line-height: rem(20px);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: center;
	margin-right: rem(51px);

	@include desktop {
		margin-right: rem(40px);
		margin-left: rem(70px);
	}

	@include tablets {
		margin: 0;
		margin-bottom: rem(20px);
	}
}

.nav__item {
	margin-right: rem(50px);

	@include desktop {
		margin-bottom: rem(10px);
	}

	&:last-child {
		margin-right: 0;

		@include tablets {
			margin-right: rem(50px);
		}
	}
}

.nav__btn {
	width: rem(17px);
	height: rem(17px);
	
	&-img {
		width: 100%;
		height: 100%;
	}
}