.our-advantages__list {
	margin-bottom: rem(40px);
}

.our-advantages__info {
	position: relative;
	padding: rem(40px) rem(50px) rem(45px);
	box-shadow: 0px 4px rem(20px) rgba(0, 0, 0, 0.08);
}

.our-advantages__text {
	max-width: rem(750px);
	font-style: normal;
	font-weight: 300;
	font-size: rem(15px);
	line-height: rem(25px);
	color: rgba(0, 0, 0, 0.8);
}