.parameters__list {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.parameters__item {
	width: rem(270px);
	padding: rem(50px) rem(20px) rem(40px);
	display: flex;
	flex-direction: column;
	align-items: center;

	@include desktop {
		width: 23vw;
		padding: rem(50px) rem(15px) rem(40px);
	}
}

.parameters__item-icon {
	width: rem(120px);
	height: rem(120px);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 3px solid rgba(0, 0, 0, 0.1);
	margin-bottom: rem(25px);

	@include desktop {
		width: 12vw;
		height: 12vw;
	}
}

.parameters__item-img {
	width: rem(60px);
	height: rem(60px);
}

.parameters__text {
	width: 100%;
	font-weight: normal;
	font-size: rem(16px);
	line-height: rem(25px);
	text-align: center;
	letter-spacing: 0.02em;
	color: rgba(0, 0, 0, 0.75);

	@include desktop {
		font-size: rem(14px);
	}
}