.partners__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: rem(200px);
	margin-bottom: rem(40px);
	
	@include desktop {
		padding-right: 0;
	}

	@include phones {
		flex-direction: column;
	}
}

.partners__text {
	width: rem(670px);
	font-weight: 300;
	font-size: rem(15px);
	line-height: rem(25px);
	color: rgba(0, 0, 0, 0.8);

	@include desktop {
		width: 50vw;
	}

	@include phones {
		width: 100%;
		margin-bottom: rem(20px);
	}
}

.partners__photos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	height: rem(80px);
	filter: grayscale(1);

	&-img {
		object-fit: contain;
		width: auto;
		margin-bottom: rem(20px);
	}

	@include desktop {
		height: auto;
	}
}