.services-list__list {
	display: flex;
	flex-direction: column;
	margin-bottom: rem(50px);
}

.services-list__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: rem(30px);

	&:last-child {
		margin-bottom: 0;
	}

	@include tablets {
		flex-wrap: wrap;
	}
}

.services-list__info {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	@include phones {
		flex-direction: column;
	}
}

.services-list__text {
	max-width: rem(770px);
	font-weight: 300;
	font-size: rem(15px);
	line-height: rem(25px);
	color: rgba(0, 0, 0, 0.8);

	@include desktop {
		max-width: rem(490px);
	}

	@include tablets {
		max-width: 59%;
	}

	@include phones {
		max-width: 100%;
		margin-bottom: rem(20px);
	}
}

.service {
	display: flex;
	min-height: rem(140px);

	@include tablets {
		margin-bottom: rem(30px);

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__content {
		width: 100%;
		padding: rem(25px) rem(30px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include tablets {
			padding: rem(15px) rem(20px);
		}
	}

	&__btn {
		color: rgba(0, 0, 0, 0.5);
		font-size: rem(12px);
		line-height: rem(20px);
		letter-spacing: 0.02em;
		align-self: flex-end;
	}

	&_width_470 {
		width: rem(470px);

		@include tablets {
			width: rem(270px);
		}
	}

	&_width_570 {
		width: rem(570px);

		@include tablets {
			width: rem(370px);
		}
	}
	
	&_width_670 {
		width: rem(670px);

		@include tablets {
			width: rem(470px);
		}
	}
}

.service__rect {
	flex-shrink: 0;
	width: rem(70px);
	height: 100%;
	background: $gold;

	&_opacity_low {
		opacity: .4;
	}

	&_opacity_medium {
		opacity: .75;
	}

	&_opacity_full {
		opacity: 1;
	}
}